@use "../mixins/responsive.scss" as *;

.button {
  font-family: var(--font-family-raleway);
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  padding: 16px 81px;
  background-image: var(--button-gradient);
  border-radius: 50px;

  @include responsive(desktop) {
    padding: 18px 95px;
  }
}

.buttons-formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @include responsive(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
  }

  &__email {
    background-color: var(--white);
    padding: 20px 100px 20px 30px;
    border-radius: 50px;
    font-family: var(--font-family-open-sans);
    font-size: 10px;
    color: var(--color-text-button);

    @include responsive(desktop) {
      padding: 20px 200px 20px 38px;
      font-size: 12px;
    }
  }

  &__go {
    background-image: var(--button-gradient);
    padding: 20px 100px 20px 30px;
    border-radius: 50px;
    font-family: var(--font-family-raleway);
    font-size: 10px;
    font-weight: 700;
    color: var(--white);

    @include responsive(desktop) {
      padding: 20px 26px;
      font-size: 12px;
    }
  }
}
