:root {
  --background-color: #1b2330;
  --white: white;
  --font-family-open-sans: "Open Sans", sans-serif;
  --font-family-raleway: "Raleway", sans-serif;
  --button-gradient: linear-gradient(#63e1d9, #34a0cd);
  --color-primary: #62e0d9;
}

/* Variables SASS */
